[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
sqlalchemy = "*"
psycopg2 = "*"
black = "*"
pylint = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
